body {background-color: white;

} 

#header {
    border: 2px solid black;
    background-color: #9E9782;
    text-align: center;
    background-image: url(http://freyafyre.files.wordpress.com/2012/06/black-header.png); 
    background-repeat: repeat;
    width: 600px;
    float: left;

}

#border {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    
    
}

#content {
    border: 2px solid black;
    width: 600px;
    float: left;
    background-color: white;
    
}

#navigation {
    border: 2px solid black;
    width: 200px;
    float: left;
    display: none;
}

#footer {
    border: 2px solid black;
    float: left;
    background-color: #FFD086;
    width: 600px;
    text-align: center;
    background-image: url(http://i.imgur.com/2CTj8.jpg);
}

#container {
    overflow: auto;
    max-width: 600px;
    margin: 0 auto;
    background-color: black;
    padding: 10px;
    background-image: url(http://a-l-w.org/pictures/background_content.jpg); 
    background-repeat: repeat;
}

#meny {
    margin: 0; 
    padding: 0; 
    width: 200px; 
    list-style-type: none; 
    font-size: 15px;
    font-family: arial;
    background: #63605B; 
    border-bottom: 1px solid #0F0D09;
    display: none;
 
}

#meny a{ 
    display: block; 
    width: auto; 
    height: 20px; 
    padding-left: 4px; 
    padding-top: 4px; 
    padding-bottom: 4px; 
    text-decoration: none;
    border-top: 1px solid #0F0D09; 
    border-right: 1px solid #0F0D09; 
    border-left: 1px solid #0F0D09;
    display: none;
    
}
 
#meny a:link{color: white; display: none;}

#meny a:visited{color: white; display: none;}

#meny a:hover{background: #D1CABF; display: none;}

#meny a:active{background-color: black; display: none;}

#meny a:focus{color: green; display: none;

}

.active {
        background-color: black;
        text-align: right;
}

h4 {font-family: arial;

}

h2 {font-family: arial;
    text-align: center;
    background-image: url(http://graphichive.net/uploaded/t_1313321102.jpg); 
    background-repeat: no-repeat;
    background-position: 10% 20%;
    background-size: 20px 20px;
}

h1 {font-family: arial;
    text-align: center;


}

h5 {font-family: arial;
    font-style: italic;
    text-align: right;

}

.bild {
    width: 150px;
    height: 160px;
    float: right;
    border: 5px solid black;
}

.table {
    background-color: #93FF4A;
    border: 1px solid black;
    border-collapse: collapse;
    font-family: arial;
    margin: 0 auto;


}

.row {
    background-color: #E7FFC8;
}
 
.cell {
    background-color: #CEFF98;
}

.cel11 {
    background-color: #E7FFC8;
}

.video {
    margin: 50px;
}

.texten {
    color: white;
    font-family: arial;
    font-size: 18px;
}

.rubrik {
    color: white;
    font-family: verdana;
}

#kontaktform fieldset { 
    width: 400px; 
    padding: 20px 0px 20px 50px; 
    border: 1px solid #99cc00; 
    background-image: url(http://b.dryicons.com/files/graphics_previews/wavy_green_background.jpg); 
    }

#kontaktform legend { 
    background-color: #e2ff8c;
    padding: 2px 2px 2px 3px; 
    margin-left: -30px; 
    letter-spacing: 3px; 
    border: 1px solid #99cc00; 
}

.checkboxen { 
    background-color: #99cc00; 
}